/TagNameException.class
/isNotCommand.class
/secondParamaterException.class
/SecondParameterException.class
/IsNotCommandException.class
/ZuulGameTest.class
/IsNotDirectionException.class
/ExitDontExistException.class
